<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func232.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ee95e707-3ddf-4781-8e0d-c5a4b6c0d20f/resourceGroups/FBAS_Nov_23_2_ru/providers/Microsoft.Web/sites/Func232</ResourceId>
    <IsLinux>true</IsLinux>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://func232.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>